* {
  margin: 0;
  padding: 0;
}

.counter-card {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: aliceblue;
  text-align: center;
}

.counter-card h1 {
  font-size: 2.5em;
  padding-top: 0.3em;
}

.btn-div{
  display: flex;
  justify-content: space-around;
}

button {
  width: 150px;
  height: 30px;
  font-size: 1.5em;
  margin-top: 2em;
  gap: 1em;
}
